.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.349);
}
.container {
  position: absolute;
  margin: -3.6rem 0rem 0rem 36rem;

  width: 16rem;
  height: 8rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px 2px;
  border-radius: 0.23rem;
  z-index: 30;
}
.homeworkContainer {
  position: absolute;
  margin: -1.8rem 0rem 0rem -12rem;

  width: 16rem;
  height: 8rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.23rem;
  z-index: 30;
}
.topArrow {
  margin: -1rem 0rem 0rem 6.5rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 5px -5px 12px 0px;
  border-left: none;
  border-bottom: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
  background-color: white;
  z-index: -1;
}
.leftArrow {
  margin: 3rem 0rem 0rem 15rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 5px -5px 20px 0.1px;
  border-left: none;
  border-bottom: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  background-color: white;
  z-index: -1;
}
.leftArrowCover {
  margin: 2.7rem 0rem 0rem 14.2rem;
  position: absolute;

  border-left: none;
  border-bottom: none;
  width: 1.8rem;
  height: 4rem;
  border: 1px solid black;

  background-color: rgba(255, 255, 255, 0);
}
.bottomArrow {
  margin: 7rem 0rem 0rem 6.5rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 5px -5px 20px 0.1px;
  border-left: none;
  border-bottom: none;
  width: 2rem;
  height: 2rem;
  transform: rotate(135deg);
  background-color: white;
  z-index: -1;
}
.message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  font-size: 1.3em;
  padding: 1rem;
  width: 16rem;
  height: 6rem;
}
.message p {
  text-align: center;
  font-size: 16px;
}
.buttonRow {
  display: flex;
  background-color: white;
  margin-top: -1rem;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 0rem 1.5rem 0.8rem 1.5rem;
  width: 16rem;
  height: 2.5rem;
  z-index: 1;
}
.buttonRow :nth-child(1) {
  border: 0.01rem solid rgba(128, 128, 128, 0.368);
  background-color: white;
  width: 5.5rem;
  height: 2rem;
}
.buttonRow :nth-child(2) {
  border: 0.01rem solid rgba(128, 128, 128, 0.368);
  background-color: white;
  width: 5.5rem;
  height: 2rem;
}
.buttonRow :nth-child(1):hover {
  background-color: rgb(230, 230, 230);
  border: none;
}
.buttonRow :nth-child(2):hover {
  background-color: rgb(230, 230, 230);
  border: none;
}
