@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-period {
  @apply flex-auto border border-borderGray py-1 w-full lg:hover:bg-borderGray duration-200;
}
.btn-m-menu {
  @apply flex-1 w-full mx-auto px-14 py-2 border border-black uppercase shadow-md;
}
.btn-actions {
  @apply px-4 lg:px-8 py-2 font-bold text-sm border border-borderGray shadow hover:bg-borderGray hover:shadow-lg duration-150;
}
.green-peeper {
  @apply absolute block bg-collegeGreen w-full h-11 -z-10 lg:group-hover:animate-peeper;
}
.subject-info-tr {
  @apply border-x border-borderGray text-left text-sm font-bold;
}
.tab-h {
  @apply px-2 md:px-3;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /*Safari*/
}
.error-tp-shadow {
  box-shadow: rgba(192, 2, 2, 0.407) 0px 2px 8px 0px;
}
.error-tp-a-shadow {
  box-shadow: rgba(192, 2, 2, 0.407) 4px 4px 8px -2px;
}
.green-shadow {
  box-shadow: rgba(82, 142, 4, 0.419) 0px 0px 5px 1px;
}
.css-1lmyqxj {
  height: 8px !important;
  width: 8px !important;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin-top: 0.5rem;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(9px);
}

.hamburger-bottom {
  transform: translateY(18px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
