.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container label {
  text-align: start;
  font-weight: bold;
  width: 100%;
  padding-bottom: 0.6rem;
  padding-left: 0.1rem;
}
.container input {
  border: 0.1rem solid #cecece8c;
  height: 2.36rem;
  padding-left: 0.4rem;
}
.container input:focus {
  outline-style: solid;
  outline-color: black;
}
.container input:active {
  color: black;
}

.errorHandling input {
  border: 0.13rem solid rgb(225, 44, 44);
}
.errorHandling input:focus {
  outline: none;
}
.tooltip {
  position: absolute;
  margin-left: 0.65rem;
}

@media screen and (max-width: 1052px) {
  .tooltip {
    margin-left: 0.2rem;
  }
}
@media screen and (max-width: 925px) {
  .tooltip {
    margin-left: -1rem;
  }
}

@media screen and (max-width: 796px) {
  .tooltip {
    margin-left: -1.5rem;
  }
}
