.tableHead td {
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.65em;
  height: 2.3rem;
  border: 0.1rem solid #cecece;
}
.tableHead.comment td {
  height: 3.1rem;
}

.tableHead td:nth-child(1) {
  padding-left: 1.4rem;
  width: 5.5rem;
}
.tableHead td:nth-child(2) {
  width: 17rem;
  padding-right: 0.4rem;
}
.tableHead td:nth-child(2):hover {
  cursor: pointer;
  background-color: aliceblue;
}
.tableHead td:nth-child(3) {
  width: 17rem;
}
.tableHead td:nth-child(4) {
  width: 7rem;
  padding-right: 0.4rem;
}
.infoIcon {
  cursor: pointer;
  font-size: 1.5em;
}
.meetingIcon {
  cursor: pointer;
  font-size: 1rem;
}
.subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.oneItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.editIcon {
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.editSchedule {
  margin-top: -3rem;
  margin-left: -0.15rem;
}
.editColumn {
  border: 0.1rem solid #cecece;
}
.videoLink {
  color: rgb(150, 150, 150);
  text-decoration: none;
}
.videoLink :hover {
  color: rgb(60, 60, 60);
  text-decoration: none;
}
/* .editLectureRow {
  width: 100%;
} */
