.extraRowInfo.rowInfo td {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 0.65em;
  height: auto;
  border-left: 0.1rem solid #cecece;
  border-right: 0.1rem solid #cecece;
}

.extraRowInfo.rowHeading td {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
  height: auto;
  font-size: 0.65em;
  border-left: 0.1rem solid #cecece;
  border-right: 0.1rem solid #cecece;
}
.extraRowInfo.rowHeading td:nth-child(1) {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
  height: auto;
  font-size: 0.65em;
  border-left: 0.1rem solid #cecece;
  border-right: 0.1rem solid #cecece;
}

.headingPadding td {
  padding-top: 0.4rem !important;
  padding-bottom: 0rem !important;
}

.bottomRow {
  height: 0.3rem;
  border-left: 0.1rem solid #cecece;
  border-right: 0.1rem solid #cecece;
  border-bottom: 0.1rem solid #cecece;
}
.subjectInfoHeading {
  text-align: right !important;
  padding-right: 30%;
  padding-left: 41% !important;
}
.subjectInfoHeading h6 {
  text-align: center;
  font-weight: bold;
  min-width: 11rem !important;
}
.actions {
  border-left: 0rem solid !important;
  text-align: end !important;
}
.editIcon {
  cursor: pointer;
  margin-right: 0.3rem;
  font-size: 1.3em;
}
.confirmIcon {
  cursor: pointer;
  margin-right: 0.3rem;
  font-size: 1.8em;
}
.closeIcon {
  cursor: pointer;
  z-index: 1;
  margin-right: 0.5rem;
  font-size: 1.5em;
}
.closeConfirmInfo {
  position: absolute;
  margin-left: -41rem;
  margin-top: 0.15rem;
}
.saveConfirmInfo {
  position: absolute;
  margin-left: -42.5rem;
  margin-top: 1.8rem;
}
.homeworksLink {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
}

.btnSubjectCard a {
  text-decoration: none;
  color: black;
}

.btnSubjectCard a:hover {
  text-decoration: none;
  color: blue;
}
.line {
  height: 1px !important;
  padding: -1rem;
  border-left: 0.1rem solid #cecece;
  border-right: 0.1rem solid #cecece;
  padding: 0rem 4rem 0rem 4rem;
}
.line hr {
  margin-left: 1%;
  width: 98%;
}
