.homeworkAdd {
  padding-top: 0.2rem;
  width: 100%;
}
.homeworkTextarea {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.homeworkAdd textarea {
  background: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  line-height: 1.5;
  resize: none;
  transition: border-color 150ms ease;
  width: 100%;
}
.homeworkAdd textarea:hover {
  border-color: #9d9d9d;
}
.homeworkAdd textarea:focus {
  outline: none;
  border-color: #9d9d9d;
}
.afterFirstRow {
  padding-top: 1rem;
}
.textareaError {
  border-color: rgb(225, 44, 44) !important;
}
.iconRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 10%;
  padding-right: 1rem;
}
.addIcon {
  cursor: pointer;
  font-size: 1.8em;
  padding-left: 0.4rem;
}
.removeIcon {
  cursor: pointer;
  font-size: 1.8em;
  padding-left: 0.4rem;
}
.homeworkExtra {
  padding-top: 0.3rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.removeDateIcon {
  position: absolute;
  font-size: 1.5em;
  margin-top: 0.4rem;
  margin-left: 7.3rem;
}
.removeDateIcon:hover {
  cursor: pointer;
}
.descriptionErrorMessage {
  position: absolute;
  margin: -5.6rem 0rem 0rem 0.5rem;
}
.deleteConfirmation {
  position: absolute;
  margin: -1.2rem 7rem 0rem 0rem;
}
.calendar {
  width: 70%;
  padding-right: 1rem;
}
.extrasLink {
  width: 100%;
}
