.container {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 72rem;
  height: 8rem;
  background-color: white;
  z-index: 2;
  padding: 0rem 1rem 0rem 1rem;
}
.headerContent {
  display: flex;
  flex-direction: row;
  height: 7.8rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 20rem;
  padding: 0rem 0rem 0.5rem 0.5rem;
}
.headerBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 60%;
  padding-bottom: 0.3rem;
}
.headerBtns a {
  cursor: pointer;
  text-decoration: none;
  line-height: 1.4rem;
  color: black;
}
.slash {
  width: 0.1rem;
  height: 1.7rem;
  background-color: #a4d65e;
  transform: rotate(15deg);
  margin: 0rem 0.5rem 0rem 0.8rem;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #6c8298;
  border: 0.1rem solid #d4d4d4;
}
.login {
  padding: 2.7rem 0rem 0rem 1.5rem;
}

.userInfo {
  height: 5rem;
  width: 5rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.userInfo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.userContainer {
  position: absolute;
  z-index: 2;
}
.userInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(82, 142, 4, 0.419) 0px 0px 4px 1px;
  background-color: white;
  margin: 1rem 0rem 0rem -2rem;
  padding: 1rem;
  height: 10rem;
  width: 9rem;
}
.boxArrow {
  position: absolute;
  background-color: white;
  box-shadow: rgba(82, 142, 4, 0.419) -3px -2px 3px -1px;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
  margin: 0.2rem 0rem 0rem 1.8rem;
}
.adminBtn {
  height: 2.3rem;
  width: 90%;
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(198, 198, 198, 0.879);
  background-color: white;
}
.adminBtn:hover {
  background-color: aliceblue;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
}
.scheduleFilters {
  position: fixed;
  padding-top: 9rem;
  padding-right: 0.7rem;
  max-width: 14rem;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
.scheduleFilters::-webkit-scrollbar {
  width: 0rem;
}

.addBtn button {
  background-color: #666666;
  height: 2.3rem;
  width: 100%;
  border: none;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btnHover {
  position: absolute;
  border: none;
  height: 2.3rem;
  width: 95%;
  background-color: #a4d65e;
  z-index: -1;
  transition: 0.1s ease-in-out;
}

.addBtn:hover .btnHover {
  transition: 0.1s ease-in-out;
  transform: rotate(3deg);
  background-color: #a4d65e;
  width: 98%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.loginInBtn button {
  background-color: #ffffff;
  height: 2.3rem;
  width: 100%;
  border: 0.1rem solid rgb(203, 203, 203);
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btnHover {
  position: absolute;
  border: none;
  height: 2.3rem;
  width: 95%;
  background-color: #a4d65e;
  z-index: -1;
  transition: 0.1s ease-in-out;
}

.loginInBtn:hover .btnHover {
  transition: 0.1s ease-in-out;
  transform: rotate(3deg);
  background-color: #a4d65e;
  width: 98%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.faAngleRight {
  color: #ffffff;
  position: absolute;
  margin: 0.6rem 0rem 0rem -1.5rem;
  font-size: 1em;
}
.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8rem;
  width: 100%;
  padding-left: 15rem;
}
.scheduleDays {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0.7rem 0rem 0.7rem;
  background-color: #a4d65e;
  width: 100%;
  height: 2.3rem;
  margin-top: 1rem;
  font-size: 1em;
}
.scheduleDay {
  font-weight: bold;
  min-width: fit-content;
  padding-right: 0.3rem;
}
.scheduleDate {
  min-width: fit-content;
}
.scheduleYear {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.betweenTables {
  width: 50rem;
  margin-top: 2rem;
}
