.mainContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
}
/* .container {
  padding-left: 10rem;
  padding-right: 10rem;
} */
.header {
  position: fixed;
  width: 100%;
  height: 9rem;
  background-color: white;
  z-index: 2;
}
.headerBtns {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 6.5rem 0rem 0rem 80rem;
}
.headerBtns a {
  text-decoration: none;
  color: black;
}
.slash {
  width: 0.1rem;
  height: 1.3rem;
  background-color: #a4d65e;
  transform: rotate(15deg);
  margin: 0rem 0.2rem 0rem 0.2rem;
}
.headerItems {
  display: flex;
  flex-direction: row;
}

.userInfo {
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1.9rem 0rem 0rem 44rem;
}
.userInfo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.logo {
  height: 5rem;
  width: 20rem;
  margin: 2rem 0rem 0rem 25rem;
}
.header hr {
  margin-left: 24.5rem;
  height: 0.2rem;
  width: 71rem;
  background: black;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 24.5rem;
}

.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6rem;
  margin-left: 24.5rem;
}
.scheduleDays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(166, 166, 166);
  width: 50rem;
  height: 2rem;
  margin: 3rem 0rem 0rem 0rem;

  text-align: left;
  font-weight: bold;
  font-size: 0.8em;
}
.scheduleDay {
  padding-left: 0.5rem;
}
.scheduleDate {
  padding-right: 0.5rem;
}

.leftSide {
  width: 10rem;
}
.scheduleFilters {
  position: relative;
  margin: 9rem -22rem 0rem 0rem;
  width: 18.5rem;
  height: 40rem;
}
.fixedFilters {
  position: fixed;
}
.adminBtn {
  height: 2.3rem;
  width: auto;
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(198, 198, 198, 0.879);
  background-color: white;
}
.adminBtn:hover {
  background-color: aliceblue;
}
.addBtn {
  background-color: rgb(213, 213, 213);
  height: 2.3rem;
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  color: rgb(112, 111, 111);
  font-weight: bold;
  margin-bottom: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.addBtn:hover {
  background-color: aliceblue;
}
.betweenTables {
  margin-top: 3rem;
}
.userInfoBox {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  box-shadow: rgba(82, 142, 4, 0.419) 0px 3px 8px;
  background-color: white;
  margin: 9.3rem 0rem 0rem 40.5rem;
  z-index: 3;
  padding: 1rem;
}
.boxArrow {
  position: absolute;
  background-color: white;
  box-shadow: rgba(82, 142, 4, 0.419) 0px 3px 8px;
  width: 1.5rem;
  height: 1.5rem;
  margin: 8.6rem 0rem 0rem 46.2rem;
  transform: rotate(45deg);
}
