.userInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(82, 142, 4, 0.419) 0px 0px 4px 1px;
  background-color: white;
  margin: 1rem 0rem 0rem -2rem;
  padding: 1rem;
  height: 12rem;
  width: 9rem;
}
.boxArrow {
  position: absolute;
  background-color: white;
  box-shadow: rgba(82, 142, 4, 0.419) -3px -2px 3px -1px;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
  margin: 0.2rem 0rem 0rem 1.8rem;
}
.adminBtn {
  height: 2rem;
  width: 90%;
  border: 0.1rem solid rgba(198, 198, 198, 0.879);
  background-color: white;
}
.adminBtn:hover {
  background-color: rgb(230, 230, 230);
  border: none;
}
