.goTopContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-color: aqua;
  margin: -2rem 0rem 0rem 74rem;
}
.goTopHidden {
  display: none;
}
.goTop {
  cursor: pointer;
  display: block;
  position: fixed;
  font-size: 3em;
  color: gray;
}
.goTop:hover {
  color: rgb(94, 94, 94);
}

@media screen and (max-width: 1342px) {
  .goTopContainer {
    margin: -2rem 0rem 0rem 72rem;
  }
}
@media screen and (max-width: 1250px) {
  .goTopContainer {
    margin: -2rem 0rem 0rem 70rem;
  }
}
@media screen and (max-width: 1217px) {
  .goTopContainer {
    margin: -2rem 0rem 0rem 14.7%;
  }
}
