.dropdownAddition {
  display: flex;
  flex-direction: column;
  width: 12rem;
}
.dropdownOccurence {
  display: flex;
  flex-direction: column;
  width: 8rem;
}
.dropdownOccurence label {
  text-align: start;
  font-weight: bold;
  padding-bottom: 0.6rem;
  padding-left: 0.1rem;
}
.dropdownOccurence Select {
  border: none;
}
.errorHandling {
  position: absolute;
  margin-left: -0.01rem;
  margin-top: -0.05rem;
  width: 12rem;
  height: 2.43rem;
  border: 0.14rem solid rgb(225, 44, 44);
  border-radius: 0.3rem;
  background: none;
  pointer-events: none;
}
.tooltip {
  position: absolute;
  margin: -1.8rem 0rem 0rem 2rem;
}
.confirmModal {
  position: absolute;
  margin: 6.7rem 0rem 0rem -35rem;
}

@media screen and (max-width: 1052px) {
  .dropdownAddition {
    width: 10rem;
  }
  .errorHandling {
    width: 10rem;
  }
  .tooltip {
    margin: -1.8rem 0rem 0rem 1rem;
  }
  .confirmModal {
    margin: 6.7rem 0rem 0rem -36rem;
  }
}
@media screen and (max-width: 925px) {
  .dropdownAddition {
    width: 8rem;
  }
  .errorHandling {
    width: 8rem;
  }
  .tooltip {
    margin: -1.8rem 0rem 0rem 0rem;
  }
  .confirmModal {
    margin: 6.7rem 0rem 0rem -37rem;
  }
}

@media screen and (max-width: 796px) {
  .dropdownAddition {
    width: 6rem;
  }
  .errorHandling {
    width: 8rem;
  }
  .tooltip {
    margin: -1.8rem 0rem 0rem -1rem;
  }
  .confirmModal {
    margin: 6.7rem 0rem 0rem -38rem;
  }
}
