.scheduleFilters {
  height: auto;
}
.calendar {
  margin-bottom: 1rem;
}
.emptyBtn {
  width: 50%;
  height: 2rem;
  background-color: #cecece00;
  color: rgb(100, 100, 100);
  border: 1px solid rgb(197, 197, 197);
  font-size: 0.9em;
}

.emptyBtn:hover {
  width: 50%;
  height: 2rem;
  color: black;
  font-size: 0.9em;
  background-color: rgb(230, 230, 230);
  border: none;
}

.emptyBtnContainer:hover .btnHover {
  transition: 0.1s ease-in-out;
  transform: rotate(6deg);
  background-color: #a4d65e;
  margin-left: 3.4rem;
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
