.scheduleFilters {
  height: auto;
}
.calendar {
  margin-bottom: 1rem;
}
.emptyBtn {
  width: 50%;
  height: 2.4rem;
  background-color: #666666;
  color: #ffffff;
  font-weight: bold;
  border: 0.1rem solid rgb(203, 203, 203);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.9em;
}
.btnHover {
  position: absolute;
  border: none;
  height: 2.3rem;
  margin-left: 3.4rem;
  width: 40%;
  background-color: #a4d65e;
  z-index: -1;
  transition: 0.1s ease-in-out;
}

.emptyBtnContainer:hover .btnHover {
  transition: 0.1s ease-in-out;
  transform: rotate(6deg);
  background-color: #a4d65e;
  margin-left: 3.4rem;
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
