.calendar {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.reactCalendar {
  position: absolute;
  margin: 3.6rem 0rem 0rem -1.25rem;
  scale: 0.876;
  z-index: 1;
}
.reactCalendarAfter {
  position: absolute;
  margin: 1.85rem 0rem 0rem -1.25rem;
  scale: 0.876;
  z-index: 1;
}
